body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1628968434441-d9c1c66dcde7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
}

.score-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: auto;
    width: 575px;
    height: 385px;
    background-color: rgb(255, 98, 0);
    box-sizing: border-box;
    border-radius: 10px;
    border: 3px solid green;
}

.home, .guest {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#home-title, #guest-title {
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}

#home-score, #guest-score {
    width: 155px;
    height: 120px;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 10px;
    color: green;
    font-size: 90px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#home-one, #home-two, #home-three, 
#guest-one, #guest-two, #guest-three {
    border: 1px solid yellow;
    border-radius: 5px;
    background-color: rgb(255, 98, 0);
    color: yellow;
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-right: 5px;
    padding: 10px;
}

#home-rematch, #guest-rematch {
    border: 1px solid yellow;
    border-radius: 5px;
    background-color: rgb(255, 98, 0);
    color: yellow;
    margin-top: 20px;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    cursor: pointer;
}
